
#column-logo {
  padding:1.6rem;
  
  a {
    display: block;
    color:#000;
    font-size: 1.5rem;
    font-weight:bold;
    ///border: 1px solid red;
    line-height: 1rem;
  }
}


#section-main-menu {
  background: #f1f0f1;

  #column-mobile-menu-icon {
    margin:.2rem 0 0 0;
  
    button,
    a {
      display: block;
      margin:.0;
    }
  }

  #column-menu {
    @include breakpoint(large) {
      visibility: visible!important;
      height: auto!important;
      z-index: auto!important;
      transform: none!important;
      overflow: initial!important;
      position: static!important;
      background: #f1f0f1;
      box-shadow: none;
    }
    @include breakpoint(medium down) { 
      width: 250px!important;
      padding:0; 
      margin:0;
      background:linear-gradient(to right, #000 0%, #191919 1%, #191919 100%);
    }

    .button-close {
      z-index: 100;

      &:hover {
        @include breakpoint(medium down) { 
          color: #fff;
        }
      }
    }


    ul.menu {
      @include breakpoint(large) { 
        background: #f1f0f1;
      }
      @include breakpoint(medium down) { 
        padding:0; 
        margin:0;
      }

      li {
        display: block!important;

        @include breakpoint(medium down) { 
          width:100%!important;
          position: static!important;
          padding:0; 
          margin:0;
          background: none;
        }

        @include breakpoint(large) { 
          border-left:1px solid #f1f0f1;
          border-right:1px solid #f1f0f1;
        }

        a {
          @include breakpoint(large) {
            color:#263746;
            padding:1.7rem 1.3rem 1.7rem 1.3rem;
            border-left: none;
          }
          @include breakpoint(medium down) { 
            padding:1.2rem 1rem 1.2rem 1rem;
            color:#fff;
            text-shadow: 0 0.0625em 0.0625em rgba(0,0,0,0.4);
            border-bottom: 1px solid rgba(255,255,255,0.05);
            font-weight: 400;
            font-size: .9rem;
          }

          &:hover {
            @include breakpoint(medium down) { 
              background: #292929;
            }
            @include breakpoint(large) {
              background: #f8f8f8!important;
            }
          }

          &::after {
            @include breakpoint(medium down) { 
              border-color: #263746 transparent transparent;
            }
            @include breakpoint(large) {
              right:13px;
              border-color: #263746 transparent transparent;
            }
          }

        }

        &.is-dropdown-submenu-parent {

          a {
            @include breakpoint(large) {
              padding-right:2.2rem;
            }

            &::after {
              @include breakpoint(medium down) {
                right:19px;
                border-color:#e0dfe0 transparent transparent;
                z-index: 100;
                display: none;
              }
            }

          }

          ul.is-dropdown-submenu {

            @include breakpoint(large) { 
               border:1px solid #e0dfe0;
               background: #fff;
               left: -1px;
            }

            @include breakpoint(medium down) { 
              //display: block!important;
              width:100%;
              position: static!important;
              background: none;
              background: #292929!important;
              border: none;
            }

            li {
              border: none;
              
              a {
                @include breakpoint(large) {
                  padding:1rem;
                  border:none;
                  position:static;
                }

                @include breakpoint(medium down) {
                  color:#fff;                  
                }

                &::before {
                  @include breakpoint(medium down) {
                    padding-left:1px;
                    padding-right:10px;
                    content: "-";
                  }
                }

                &:hover {
                  @include breakpoint(large) {
                    background: #1369d0!important;
                    color:#fff;
                  }

                  @include breakpoint(medium down) {
                    background: #3e3e3e!important;
                  }

                }

              }
            }
  
          }

        }

        &.is-active {

          @include breakpoint(large) {
            background: #fff;
            border-left:1px solid #e0dfe0;
            border-right:1px solid #e0dfe0;
          }

          @include breakpoint(medium down) {
            background: #292929!important;
          }

         
          a {
            @include breakpoint(large) {
              position: relative;
              z-index: 2;
              top: 1px;
              background: #fff;
              padding-top:1.6rem;
              padding-bottom:1.8rem;
              
              &::after {
                margin-top: -4px;
              }
            }
            
            @include breakpoint(medium down) {
              &:hover {
                background: #3e3e3e!important;
              }
            }
          }

        }

      }
    }

  }
}
